version: '3.7'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: demoapp
    ports:
      - 27017:27017
    volumes:
      - ./mongo.js:/docker-entrypoint-initdb.d/mongo-init.js:ro